* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 100px;
    /* background: lightblue; */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);
}

.nav-bar .brand {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    color: #208c63;
}

.nav-bar .search-bar {
    position: relative;
    width: 430px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    background: #f5f5f5;
    padding: 0px 25px;
}

/* Note: Always give padding to the Input not to the placeholder. */

.nav-bar .search-bar::placeholder {
    color: grey;
    font-weight: bold;
}

.nav-bar .input-image {
    position: absolute;
    width: 35px;
    height: 35px;
    /* background: orange; */
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    background-image: url(./Images/search-icon-image.png);
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.nav-bar .logo {
    position: absolute;
    width: 65px;
    height: 65px;
    /* background: red; */
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    background-image: url(./Images/logo-gree.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-bar .icon-list {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);
}

.nav-bar .icon-list li {
    list-style: none;
    color: grey;
    font-size: 24px;
}

.contents {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: yellow; */
    overflow: hidden;
}

.contents .side-bar {
    position: relative;
    width: 230px;
    height: 100vh;
    background: #208c63;
    top: 0px;
    left: 0px;
}

.contents .side-bar .task-list {
    position: absolute;
    top: 30px;
    left: 20px;
}

.contents .side-bar .task-list li {
    list-style: none;
    margin-top: 35px;
    font-size: 20px;
    color: #f5f5f5;
    cursor: pointer;
}

.contents .side-bar .task-list li i {
    margin-right: 10px;
}

.contents .grid-container {
    position: absolute;
    width: 83%;
    height: 150px;
    /* background: orange; */
    top: 0px;
    right: 0px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    /* grid-template-rows: repeat(4, 100px); */
    grid-template-columns: repeat(4, 220px);
}

.contents .grid-container .kpi {
    position: relative;
    width: 220px;
    height: 85px;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    /* background from blue to above given color */
}

.contents .grid-container .kpi .kpi-image-one {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: red; */
    top: 16px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents .grid-container .kpi .kpi-image-one i {
    font-size: 26px;
    color: #208c63;
}

.contents .grid-container .kpi-text-one {
    font-size: 26px;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    color: #208c63;
}

.contents .grid-container .kpi-text-two {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 30px;
    color: grey;
}

.contents .grid-container .kpi .kpi-image-two {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: red; */
    top: 16px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents .grid-container .kpi .kpi-image-two i {
    font-size: 26px;
    color: #208c63;
}

.contents .grid-container .kpi-text-three {
    font-size: 26px;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    color: #208c63;
}

.contents .grid-container .kpi-text-four {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 30px;
    color: grey;
}

.contents .grid-container .kpi .kpi-image-three {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: red; */
    top: 16px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents .grid-container .kpi .kpi-image-three i {
    font-size: 26px;
    color: #208c63;
}

.contents .grid-container .kpi-text-five {
    font-size: 26px;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    color: #208c63;
}

.contents .grid-container .kpi-text-six {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 30px;
    color: grey;
}

.contents .grid-container .kpi .kpi-image-four {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: red; */
    top: 16px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents .grid-container .kpi .kpi-image-four i {
    font-size: 26px;
    color: #208c63;
}

.contents .grid-container .kpi-text-seven {
    font-size: 26px;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    color: #208c63;
}

.contents .grid-container .kpi-text-eight {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 30px;
    color: grey;
}

/*---Charts---*/
.contents .line-chart-container {
    position: absolute;
    width: 50%;
    height: 400px;
    background: #f5f5f5;
    top: 210px;
    left: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
}

.contents .line-chart-container h3 {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.contents .line-chart-container div {
    position: relative;
    width: 90%;
    height: 395px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents .doughnut-chart-container {
    position: absolute;
    width: 26%;
    height: 400px;
    background: #f5f5f5;
    top: 210px;
    right: 1.5%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
}

.contents .doughnut-chart-container h3 {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.contents .doughnut-chart-container div {
    position: relative;
    width: 90%;
    height: 395px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}